@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

body {
  position: relative !important;
  height: 100vh !important;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(https://images.unsplash.com/photo-1480944657103-7fed22359e1d) !important;
  background-size: cover !important;
}
